*{margin: 0; padding: 0; border: none; box-sizing: border-box;}

@font-face {
	font-family: "OpenSans-Semibold";
	src: url("/fonts/OpenSans-Semibold.woff2") format('woff2');
}

@font-face {
	font-family: "OpenSans";
	src: url("/fonts/OpenSans-Regular.woff2") format('woff2');
}

@font-face {
	font-family: "OpenSans-Bold";
	src: url("/fonts/OpenSans-Bold.woff2") format('woff2');
}

html, body {
	height: 100%;
}

body {
	background: #21333e;
	font: 25px OpenSans-Semibold;
	-webkit-font-smoothing: antialiased;
	color: snow;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.status {
	text-transform: uppercase;
}

.code {
	color: #e18700;
}

.description {
	margin-left: 5px;
}

.addition {
	font: 16px OpenSans;
	color: #ff004a;
	text-transform: none;
}